flows.json
[
    {
        "id": "7a40bac9.211a94",
        "type": "inject",
        "z": "1fb923e9.d9699c",
        "name": "Create",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "cc4444a7.6f6488"
            ]
        ]
    },
    {
        "id": "e993ad1a.dac78",
        "type": "inject",
        "z": "1fb923e9.d9699c",
        "name": "Load",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "29c14448.e5ca1c"
            ]
        ]
    },
    {
        "id": "ffd5bd27.42023",
        "type": "debug",
        "z": "1fb923e9.d9699c",
        "name": "Print",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 550,
        "y": 60,
        "wires": []
    },
    {
        "id": "cc4444a7.6f6488",
        "type": "CreateDataset",
        "z": "1fb923e9.d9699c",
        "name": "",
        "path": "iris.data",
        "saveFolder": "dataset",
        "saveName": "iris",
        "input": "0,1,2,3",
        "output": "4",
        "trainingPartition": "80",
        "shuffle": true,
        "seed": "454356",
        "x": 340,
        "y": 60,
        "wires": [
            [
                "ffd5bd27.42023"
            ]
        ]
    },
    {
        "id": "29c14448.e5ca1c",
        "type": "LoadDataset",
        "z": "1fb923e9.d9699c",
        "name": "",
        "datasetFolder": "dataset",
        "datasetName": "iris",
        "partition": "train.json",
        "input": true,
        "output": true,
        "x": 290,
        "y": 200,
        "wires": [
            [
                "7dac493e.959cc8",
                "7cfd27a7.df2108",
                "29aebd9a.d5c732",
                "3c5fdf21.ef47d"
            ]
        ]
    },
    {
        "id": "7dac493e.959cc8",
        "type": "SupportVectorClassifier",
        "z": "1fb923e9.d9699c",
        "name": "",
        "savePath": "models",
        "saveName": "svc.b",
        "x": 550,
        "y": 120,
        "wires": [
            [
                "f6972b60.54d4f8"
            ]
        ]
    },
    {
        "id": "7cfd27a7.df2108",
        "type": "DecisionTreeClassifier",
        "z": "1fb923e9.d9699c",
        "name": "",
        "savePath": "models",
        "saveName": "dtc.b",
        "depth": "20",
        "x": 540,
        "y": 180,
        "wires": [
            [
                "f6972b60.54d4f8"
            ]
        ]
    },
    {
        "id": "29aebd9a.d5c732",
        "type": "KNeighborsClassifier",
        "z": "1fb923e9.d9699c",
        "name": "",
        "savePath": "models",
        "saveName": "knc.b",
        "neighbors": "3",
        "x": 560,
        "y": 240,
        "wires": [
            [
                "f6972b60.54d4f8"
            ]
        ]
    },
    {
        "id": "3c5fdf21.ef47d",
        "type": "MultiLayerPerceptronClassifier",
        "z": "1fb923e9.d9699c",
        "name": "",
        "savePath": "models",
        "saveName": "mlpc.b",
        "x": 530,
        "y": 300,
        "wires": [
            [
                "f6972b60.54d4f8"
            ]
        ]
    },
    {
        "id": "839f5f27.9e9eb",
        "type": "Predictor",
        "z": "1fb923e9.d9699c",
        "name": "SVC",
        "modelPath": "models",
        "modelName": "svc.b",
        "x": 450,
        "y": 360,
        "wires": [
            [
                "5a9481bd.4a72"
            ],
            [
                "368b5e5a.ea9c52"
            ]
        ]
    },
    {
        "id": "27ae542a.e5e51c",
        "type": "Predictor",
        "z": "1fb923e9.d9699c",
        "name": "DTC",
        "modelPath": "models",
        "modelName": "dtc.b",
        "x": 450,
        "y": 420,
        "wires": [
            [
                "5a9481bd.4a72"
            ],
            [
                "368b5e5a.ea9c52"
            ]
        ]
    },
    {
        "id": "f74e9c9f.0288e",
        "type": "Predictor",
        "z": "1fb923e9.d9699c",
        "name": "KNC",
        "modelPath": "models",
        "modelName": "knc.b",
        "x": 450,
        "y": 480,
        "wires": [
            [
                "5a9481bd.4a72"
            ],
            [
                "368b5e5a.ea9c52"
            ]
        ]
    },
    {
        "id": "912f9483.d4c9a8",
        "type": "Predictor",
        "z": "1fb923e9.d9699c",
        "name": "MLPC",
        "modelPath": "models",
        "modelName": "mlpc.b",
        "x": 450,
        "y": 540,
        "wires": [
            [
                "5a9481bd.4a72"
            ],
            [
                "368b5e5a.ea9c52"
            ]
        ]
    },
    {
        "id": "30f900c7.a9843",
        "type": "inject",
        "z": "1fb923e9.d9699c",
        "name": "Test",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 520,
        "wires": [
            [
                "30ddeb1a.029774",
                "82b05bee.ea8ca8"
            ]
        ]
    },
    {
        "id": "30ddeb1a.029774",
        "type": "LoadDataset",
        "z": "1fb923e9.d9699c",
        "name": "",
        "datasetFolder": "dataset",
        "datasetName": "iris",
        "partition": "test.json",
        "input": true,
        "output": false,
        "x": 270,
        "y": 440,
        "wires": [
            [
                "839f5f27.9e9eb",
                "27ae542a.e5e51c",
                "f74e9c9f.0288e",
                "912f9483.d4c9a8"
            ]
        ]
    },
    {
        "id": "5a9481bd.4a72",
        "type": "Assessment",
        "z": "1fb923e9.d9699c",
        "name": "Accuracy",
        "x": 660,
        "y": 600,
        "wires": [
            [
                "f7fd696e.a2a528"
            ]
        ]
    },
    {
        "id": "f7fd696e.a2a528",
        "type": "debug",
        "z": "1fb923e9.d9699c",
        "name": "Print",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 810,
        "y": 600,
        "wires": []
    },
    {
        "id": "82b05bee.ea8ca8",
        "type": "LoadDataset",
        "z": "1fb923e9.d9699c",
        "name": "",
        "datasetFolder": "dataset",
        "datasetName": "iris",
        "partition": "test.json",
        "input": false,
        "output": true,
        "x": 270,
        "y": 600,
        "wires": [
            [
                "5a9481bd.4a72"
            ]
        ]
    },
    {
        "id": "f6972b60.54d4f8",
        "type": "debug",
        "z": "1fb923e9.d9699c",
        "name": "Print",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 790,
        "y": 200,
        "wires": []
    },
    {
        "id": "368b5e5a.ea9c52",
        "type": "debug",
        "z": "1fb923e9.d9699c",
        "name": "Print Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 710,
        "y": 420,
        "wires": []
    }
]
